<section>
    <form onsubmit="loginUser(event)">
        <input id="email" type="email" placeholder="Ingrese el email">
        <input id="password" type="password" placeholder="Ingrese la contraseña">
        <button>Login</button>
    </form>
</section>

<script src="/auth.js"></script>