<section id="auth__container">
    <form class="auth-form" action="/api/session/login" method="post">
        <h1>Login to your account</h1>
        <input id="email" name="email" type="email" placeholder="Ingrese el email">
        <input id="password" name="password" type="password" placeholder="Ingrese la contraseña">
        <button>Login</button>
    </form>
    <a href="/api/session/github">Login con GitHub</a>
</section>