<div>
  <h1>Restablecer Contraseña</h1>
  <form action="/api/session/resetPassword" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    <label for="password">Nueva Contraseña: </label>
    <input type="password" name="password" />
    <button type="submit">Restablecer</button>
  </form>
</div>