<section>
    <form action="/api/session/register" method="post">
        <input name="first_name" type="text" placeholder="Ingrese su nombre">
        <input name="last_name" type="text" placeholder="Ingrese su apellido">
        <input name="email" type="email" placeholder="Ingrese el email">
        <input name="age" type="number" placeholder="Ingrese su edad">
        <input name="password" type="password" placeholder="Ingrese la contraseña">
        <button>Register</button>
    </form>
</section>
